$c1: #dd5353;
$c2: #797979;
$color-gray: #eeeeee;
$color-orange: #fde77a;
$color-green: #9bd978;
$color-red: #dc6868;
$color-white: #fefefe;
$color-black: #323639;

$box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.47);