<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- style -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

</head>
<body>

    <div class="dash">
        <!-- sidebar -->
        <div class="sidebar-main">
            <i class="fa fa-close iconeClose" aria-hidden="true"></i>

            <div id="accordion">
                <div class="box-menu">
                    <ul id="headingOne" data-toggle="collapse" data-target="#collapse1"
                        aria-expanded="true" aria-controls="collapse1">
                        <li>
                            <div class="sidebar-menu">
                                <h2>Nouveau projet</h2>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>

                            <ul id="collapse1" class="collapse sidebar-menu--list" aria-labelledby="headingOne" data-parent="#accordion">
                                <li class="sidebar-menu--list__item"><a href="#">Lorem ipsum</a></li>
                                <li class="sidebar-menu--list__item"><a href="#">Lorem ipsum</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="sidebar-menu">
                                <a href="#"><h2>Ouvrir un projet</h2></a>
                            </div>
                        </li>
                    </ul>
                    <ul id="headingTwo" data-toggle="collapse" data-target="#collapse2"
                    aria-expanded="true" aria-controls="collapse2">
                        <li>
                            <div class="sidebar-menu">
                                <h2>Ouvrir un projet de l'historique</h2>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>

                            <ul id="collapse2" class="collapse sidebar-menu--list" aria-labelledby="headingOne" data-parent="#accordion">
                                <li class="sidebar-menu--list__item"><a href="#">Lorem ipsum</a></li>
                                <li class="sidebar-menu--list__item"><a href="#">Lorem ipsum</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="box-menu">
                    <ul>
                        <li>
                            <div class="sidebar-menu">
                                <a href="#"><h2>Enregistrer</h2></a>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="sidebar-menu">
                                <a href="#"><h2>Enregistrer sous...</h2></a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="box-menu">
                    <ul>
                        <li>
                            <div class="sidebar-menu">
                                <a href="#"><h2>Statistiques</h2></a>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="sidebar-menu">
                                <a href="#"><h2>Exporter la base de clusters</h2></a>
                            </div>
                        </li>
                    </ul>
                    <ul id="headingThree" data-toggle="collapse" data-target="#collapse3"
                    aria-expanded="true" aria-controls="collapse3">
                        <li>
                            <div class="sidebar-menu">
                                <h2>Exporter la transcription</h2>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>

                            <ul id="collapse3" class="collapse sidebar-menu--list" aria-labelledby="headingOne" data-parent="#accordion">
                                <li class="sidebar-menu--list__item"><a href="#">Lorem ipsum</a></li>
                                <li class="sidebar-menu--list__item"><a href="#">Lorem ipsum</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="sidebar-menu">
                                <a href="#"><h2>Visualiser le document</h2></a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="box-menu">
                    <ul>
                        <li>
                            <div class="sidebar-menu">
                                <a href="#"><h2>Fermer</h2></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- top nav -->
        <div class="top-nav">
            <div class="bars-menuLink">
                <i class="fa fa-bars icone" aria-hidden="true"></i>
                <a href="document.html" class="link">Document</a>
                <a class="link" data-toggle="modal" data-target="#exampleModalCenter">Clustering</a>
                <a href="transcription.html" class="link">Transcription</a>
            </div>
            <!-- btn interrupteur -->
            <div class="toggle-button-cover">
                <div class="button-cover">
                    <div class="button r" id="button-1">
                        <input type="checkbox" class="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- content -->
        <div class="content">

            <!-- *** -->
            <div class="thumbnails --clusterOne">
                <div class="filtre-search">
                    <div class="filtre">
                        <h4>Trier par taux de confi...</h4>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="search"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
                <div class="box-grid"></div>
                <div class="myPagination">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span>Page 2 sur 150</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>

            <!-- *** -->
            <div class="content-view content-clustering --clusterTwo">
                <div class="avance">
                    <a href="#" class="return"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

                    <div class="box-doc">
                        <div class="desc-doc">
                            <div class="view"></div>
                            <div class="text-btn">
                                <h4 class="--bold">Document: Essaie (Les) - Montaigne</h4>
                                <p class="paragraph --bold">Page: 458</p>
                                <p class="paragraph --clRed">
                                    Cette forme n'a fais l'objet d'aucunes
                                    annotations pour le moment
                                </p>
                                <p class="paragraph">Transcription: <span>none</span></p>
                                <p class="paragraph">Style: <span>none</span></p>

                                <a href="#"><button class="btn-standard">Voir sur le document</button></a>
                            </div>
                        </div>
                        <div class="box-grid"></div>
                    </div>

                    <div class="myPagination --left">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span>Page 2 sur 9</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Paramétrage du clustering</h5>
            <i class="fa fa-times" aria-hidden="true" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <form action="" class="form-row form-modal">
                    <div class="col-12">
                        <div class="form--group">
                            <div class="input-group">
                                <label class="radio">
                                    <input type="radio" value="vide" name="clusters"> 
                                    <p>Utiliser une base de clusters vide</p>
                                    <span></span>
                                </label>
                                <div class="input-group --sub-input-group">
                                    <label class="radio --sub-radio">
                                        <input type="radio" value="choisir" name="clustering"> 
                                        <p>Choisir une méthode de clustering :</p>
                                        <span></span>
                                        <select name="" id="" class="select">
                                            <option value="">0000</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="input-group --sub-input-group">
                                    <label class="radio --sub-radio">
                                        <input type="radio" value="importer" name="clustering"> 
                                        <p>Importer un algorithme de clustering :</p>
                                        <span></span>
                                    </label>
                                    <div class="input-group input-file" name="Fichier1">
                                        <input type="text" class="form-control" />			
                                        <span class="input-group-btn ml-4">
                                            <button class="btn btn-default btn-choose" type="button">Parcourir</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form--group">
                            <div class="input-group">
                                <label class="radio">
                                    <input type="radio" value="existante" name="clusters"> 
                                    <p>Utiliser une base de clusters existante</p>
                                    <span></span>
                                    <p>Importer une base de clusters :</p>
                                </label>
                                <div class="input-group input-file" name="Fichier1">
                                    <input type="text" class="form-control" />			
                                    <span class="input-group-btn ml-4">
                                        <button class="btn btn-default btn-choose" type="button">Parcourir</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="checkbox-group">
                            <label class="checkbox">
                                <input type="checkbox" value=""> 
                                <p>Me prévenir par mail, une fois le clustering terminé</p>
                                <span></span>
                            </label>
                            <input type="email" placeholder="Votre E-mail" class="input-email">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-standard" data-dismiss="modal">Annuler</button>
                <a href="clustering.html"><button type="button" class="btn-standard">Commencer</button></a>
            </div>
        </div>
        </div>
    </div>
    

    <!-- script -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>